{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <div class="row" style="padding-top: 20px; padding-bottom: 40px;">
    <div class="col-md-4">
      <img class="card-img-top" src="{{ animal.photo.url }}"
        alt="{{ animal.name }}" style="padding-left: -20px; height: 550px; width: 18rem; object-fit: cover;">
    </div>
    <div class="col-md-8">
      <h1>{{ animal.name }}</h1>
      <p class="card-text" style="max-width: 100%; overflow-wrap: break-word;">{{ animal.description }}</p>
    </div>
  </div>
</section>

{% endblock %}