{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <div class="row" style="margin-right: 40px; padding-top: 20px; padding-bottom: 40px;">
    <div class="col-md-4">
      <img class="card-img-top" src="{{ animal.photo.url }}"
        alt="{{ animal.name }}" style="margin-right: 40px; height: 550px; width: 30rem; object-fit: cover;">
    </div>
    <div class="col-md-4" style="max-width:120%;">
      <h1 style="margin-left: 60%;">{{ animal.name }}</h1>
      <p class="card-text" style="margin-left: 60%; overflow-wrap: break-word;">{{ animal.description }}</p>
    </div>
  </div>
</section>

{% endblock %}