footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(20, 197, 163);
  color:white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  height: 150px;
  padding-top: 20px;
  flex: 0 0 auto;

}


section{
  padding: 0 15px;
}

@media (min-width: 575.98px){
  section {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px){
  section {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  section {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px){
  section {
    padding: 0 calc(50% - 590px);
  }
}



main{
    background-color: rgb(30, 100, 100);
}

#main_image, #icon_image{

    filter: brightness(50%);

}

.parent {
    background-color: rgb(30, 100, 100);

}

.child {
    background-color: rgb(30, 100, 100);
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0px;
    border-bottom-color: rgb(1, 1, 1);
    border-bottom: double;
}

.child h3 {

    text-align: center;
    padding: 10px;
}

p {
    color: white;
}


.back_title {

    background-image: linear-gradient(to bottom right, red, yellow);
    height: 200px;
    filter: brightness(50%);

}

.back_title h2{
    font-size: 65px;
    color: white;
    text-align: center; 
    padding-top: 50px;
    top: 80%;
    text-decoration: underline 5px white;
    text-underline-offset: 50px;
    text-shadow: 0 0 8px white;

}

.navbar{

    background-color: rgb(30, 100, 100);

}

.header {
    background-color: rgb(0, 170, 0);
    height:80px;
    background: transparent;

}



.switch_button {

    padding: 3px;
    border: none;
    border-radius: 3px;
    width: 90px;
    height: 44px;
    background-color: rgb(30, 50, 102);
    outline-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}


.switch_button:hover {

    background: #3a5ae8;
    border:none;
    outline: 5px solid #81d8e6;
    outline-style: none;


}

.switch_button:active {

    background: rgb(30, 50, 102);
    border:0;
    outline-style: none;


}


.ex1,.ex2,.ex3,.ex4,.ex5,.ex6,.ex7,.ex8,.ex9,.ex10
{padding:10px;width:300px;height:100px;margin:0 auto;text-align:center;position:relative;}

.header_logo {

    padding: 300px;

}

article {


    padding-bottom: 100px;
}


.vk-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  vertical-align: middle;
  background: #d6249f;
  background: rgb(0, 119, 255);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}



.instagram_icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}


.container_main_image {

    position: relative;
    text-align: center;
    padding-bottom:80px;


}
.ex6 h2:after  {content: "";

position: absolute;
height: 6px;
width: 100px;
background:rgb(81, 227, 213);
top: 80%;
margin: 0 auto;
left: 0;
right: 0;}

p {
    padding: 15px;
    font-size: 1.2em;
}


.centered {

    position: absolute;
    font-size: 70px;
    opacity: 0.7;
    transition: 3s;
    font-family: 'Open Sans', sans-serif;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    background-image: linear-gradient(to right, #28d8ff, #032eff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;

}




.nav_item{

    text-decoration: none;
    color: #0f7afc;
    border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);

}

.nav_item:hover {
  text-decoration: none;
  color: #cf0000;
  border-bottom-color: rgba(208, 64, 0, 0.2);
}
a {
  text-decoration: none;
  color: #0f7afc;
  border-bottom: 1px solid;
  border-bottom-color: rgba(15, 122, 252, 0.2);
}
a:hover {
  text-decoration: none;
  color: #cf0000;
  border-bottom-color: rgba(208, 64, 0, 0.2);
}
a:visited {
  text-decoration: none;
  color: #800080;
  border-bottom-color: rgba(128, 0, 128, 0.2);
}


.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav_buttons a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 650;
    border-bottom: 3px solid transparent;
}


.topnav_buttons a:hover {
    border-bottom: 3px solid #00994d;
    text-decoration: none;
    color:  #00994d;

}

.topnav_buttons a.active {
    border-bottom: 3px solid white;
    text-decoration: none;
    color: #00994d;
}
/*...........................................*/