{% extends "base.html" %}

{% block content %}
<header class="back_title"><h2>Как стать волонтёром?</h2></header>
<div class="parent">
<h3 style="text-align: center; padding-top: 10px;">Полезная информация</h3>
<p style="text-align: center;">
    Друзья!
Приезжайте в любое время по желанию. Только пожалуйста предварительно звоните , когда, во сколько и с кем планируете приехать. Наши взрослые питомцы бегают свободно вокруг приюта и встречают всех радостным лаем, поэтому будьте к этому готовы. Наши собаки в основном большие щенки и вовсе не злые. Берите с собой перчатки и сменную одежду. Нам очень нужна помощь, приезжайте.
Если Вы приезжали в приют, то отпишитесь пожалуйста здесь. Нам это нужно просто для того, чтобы мы не забывали благодарить Вас, а также для накопления информации о количестве волонтеров. Сбор подобной информации поможет нам пред ставить государству, спонсорам реальное число неравнодушных людей, а если нас будет много, то нам обязательно помогут либо государство, либо спонсоры!
Если вы хотите остаться инкогнито, то отпишитесь пожалуйста в личку.

Наши питомцы требуют ежедневного ухода. внимания. ласки.Добрых, заботливых рук не хватает. Вы можете приехать в приют в любое время и помочь начиная просто от выгула , человеческого общения с собаками, а по возможности можете и поухаживать за щенятами. В идеале составить график приездов на месяц. Собакам нужен ЕЖЕДНЕВНЫЙ УХОД!

</p>
    <div class="flex" style="display: flex;">
         <h4 style="padding-left: 20px; padding-top:13px;">Телефон:</h4>
         <p style="padding-left: 20px;">Ольга Быкова: 89867094886</p>
    </div>
</div>
{% endblock %}




